
@{
    ViewBag.Title = "Ionic";
}
<!doctype html>
<html class="no-js">
<head>
    <title>Ionic Test</title>
    <link rel="stylesheet" href="/Content/ionic.css">

</head>
<body>
    <script src="/Scripts/ionic.bundle.min.js"></script>
    <div >
        @*头部*@
        <div class="bar bar-header bar-calm">
            <h1 class="title">bar-calm</h1>
        </div>
        @*Icon Buttons*@
       
        @*图标列表*@
        <div class="scroll-content has-header">
            <div class="list">

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i>
                    Check mail
                </a>

                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-chatbubble-working"></i>
                    Call Ma
                    <i class="icon ion-ios-telephone-outline"></i>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-mic-a"></i>
                    Record album
                    <span class="item-note">
                        Grammy
                    </span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person-stalker"></i>
                    Friends
                    <span class="badge badge-assertive">0</span>
                </a>

                <div class="item item-divider">
                    Activities
                </div>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-beaker"></i>
                    Breaking Bad
                    <span class="item-note">
                        Blue, yellow, pink
                    </span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-music-note"></i>
                    Music
                    <span class="item-note">
                        JT
                    </span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-game-controller-b"></i>
                    Games
                    <span class="item-note">
                        Super Mario
                    </span>
                </a>

                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-bag"></i>
                    Shopping
                    <i class="icon ion-arrow-right-c"></i>
                </a>
            </div>
            <div class="list card">

                <div class="item item-avatar">
                    <img src="http://www.runoob.com/try/demo_source/mcfly.jpg">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" style="height:20%; width:100%" src="http://www.runoob.com/try/demo_source/delorean.jpg">
                    <p>
                        菜鸟教程 -- 学的不仅是技术，更是梦想！<br>
                        菜鸟教程 -- 学的不仅是技术，更是梦想！<br>
                        菜鸟教程 -- 学的不仅是技术，更是梦想！<br>
                        菜鸟教程 -- 学的不仅是技术，更是梦想！
                    </p>
                    <p>
                        <a href="#" class="subdued">1 喜欢</a>
                        <a href="#" class="subdued">5 评论</a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        喜欢
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                        评论
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i>
                        分享
                    </a>
                </div>

            </div>
            <p>
                <button class="button icon-left ion-home">Home</button>
            </p>
            <p>
                <button class="button icon-left ion-star button-positive">Favorites</button>
            </p>
            <p>
                <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
            </p>
            <p>
                <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
            </p>
            <p>
                <button class="button icon ion-gear-a"></button>
            </p>
            <p>
                <a class="button button-icon icon ion-settings"></a>
            </p>
            <p>
                <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
            </p>
        </div>
        
    </div>
</body>
</html>

